@default-bg-color: #fff;

.random-bg-color() {
  @r: `Math.random() * 255`;
  @g: `Math.random() * 255`;
  @b: `Math.random() * 255`;
  @bg-color: (rgb(@r, @g, @b));
}

body {
  .random-bg-color();
  background-color: @default-bg-color;
  font-size: 1.6rem;
}

footer {
  font-size: 1rem;
}

.button-up {
  width:64px; 
  height:32px;
  position:fixed;
  bottom:16px;
  right:16px;
}